<% bookdatas.forEach((data,index)=>{  %>

<tr>
    <td><%= index+1 %></td>
    <td><%=data.name %></td>
    <td><%=data.branch %></td>
    <td><%=data.session %></td>
    <td><%=data.book %></td>
    <td><%=data.book_id %></td>
    <td><%=data.issue_date %></td>


    <td>
        <a href="/update-user?id=<%=data._id%>" class="btn border-shadow update">  <!--update-user ke saath ?id=<id> as params jaayega to taaki is id ko req.query.id se pakad ke axios request kar sake for one user-->
            <span class="text-gradient"> <i class="fas fa-pencil-alt"></i> </span>
        </a>

        <a  class="btn border-shadow delete"  data-id="<%=data._id%>">   
            <span class="text-gradient"><i class="fas fa-times"> </i> </span>
        </a>

    </td>
 </tr>


 <% }) %>